<section class="overflow-hidden grid gap-4 sm:grid-cols-2">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24 bg-white rounded-xl border">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Discover Beautiful Plants for Your Collection
      </h2>

      <p class="text-gray-500 md:mt-4 block max-md:line-clamp-2 max-md:mb-5">
        Explore a wide variety of stunning plants that will brighten up your
        space. Whether you're a beginner or an experienced plant lover, we have
        something for everyone.
      </p>

      <div class="mt-4 md:mt-8">
        <a
          href="/plants"
          class="inline-block rounded bg-emerald-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-emerald-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          Go to Plant Gallery
        </a>
      </div>
    </div>
  </div>

  <img
    alt="A beautiful indoor plant setup"
    src="https://images.pexels.com/photos/9414328/pexels-photo-9414328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
    class="h-56 w-full object-cover sm:h-full max-h-[30rem] rounded-xl border"
  />
</section>
<section>
  <div class="py-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div
        class="bg-emerald-600 border border-emerald-500 flex items-center justify-center rounded-xl p-8 md:p-12 lg:px-16 lg:py-24"
      >
        <div class="mx-auto max-w-xl text-center">
          <h2 class="text-2xl font-bold text-white md:text-3xl">About Us</h2>

          <p
            class="text-white/90 sm:mt-4 block max-md:line-clamp-2 max-md:mb-5"
          >
            Our mission is to inspire a love for plants and nature. Discover
            tips, tricks, and stories to help you grow your green collection.
          </p>

          <div class="mt-4 md:mt-8">
            <a
              href="/about"
              class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-emerald-500 transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400 capitalize"
            >
              Learn more about us
            </a>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
        <img
          alt="Woman planting a plant"
          src="https://images.pexels.com/photos/3094208/pexels-photo-3094208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          class="h-40 w-full object-cover sm:h-56 md:h-full rounded-xl border"
        />

        <img
          alt="Woman planting a plant"
          src="https://images.pexels.com/photos/3094207/pexels-photo-3094207.jpeg?auto=compress&cs=tinysrgb&w=800"
          class="h-40 w-full object-cover sm:h-56 md:h-full rounded-xl border"
        />
      </div>
    </div>
  </div>
</section>
